/bootstrap/ssr
/config/.release
/config/.version
/node_modules
/public/build
/public/hot
/public/storage
/results
/storage/*.key
/vendor
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
public/css/sqlite_test
bun.lockb
