includes:
    - ./vendor/nunomaduro/larastan/extension.neon
    - ./vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon

parameters:
    paths:
        - app
    inferPrivatePropertyTypeFromConstructor: true
    level: 5
    ignoreErrors:
        - '#Access to an undefined property App\\Models\\Receipt::\$billable_id\.#'
        - '#Access to an undefined property App\\Models\\Subscription::\$billable_id\.#'
        - '#Access to an undefined property App\\Http\\Resources.*\.#'
        - '#Call to an undefined method App\\Http\\Resources.*\.#'

        - message: '#Call to an undefined method Illuminate\\Database\\Eloquent\\Relations\\MorphMany::active\(\)\.#'
          path: */Services/UpdateSubscription.php
        - message: '#Call to an undefined method Illuminate\\Database\\Eloquent\\Relations\\MorphMany::active\(\)\.#'
          path: */Http/Controllers/BaseProductController.php
